


/* o "*" seria refrente aos espacamentos entre os elementos */

* { margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(fundo.jpg);
    background-size: cover;
    height: 100vh;
    padding-top: 12.5rem;
    padding-left: 6.75rem;

}

h1 {
    
    font-size: 50px;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Poppins';

}

h2 {
   
    font-size: 42px;
    color: #fff;
    font-family: 'Poppins';
}


a {
    margin: 10px;
    padding: 10px;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Poppins';
    text-transform: uppercase;
    /* para deixa tudo em letra maiscula! */
    text-decoration: none;
    background: linear-gradient(90deg, #799e40, #516b30 );
    padding: 1rem 2rem;
    border-radius: 7px;
}

